Options All -Indexes

<Files .htaccess>
Require all granted
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/v1

    # Permitir solicitações OPTIONS
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ - [R=200,L]

    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<LimitExcept OPTIONS>
Require all granted
</LimitExcept>
